.h
{
font-size: 30px;
width: 50%;
margin: 30px;
padding-top: 50px;
color:rgb(38, 0, 255);
}.j
{
font-size: 30px;
width: 50%;
margin: 30px;
padding-top: 50px;
color:rgb(38, 0, 255);
}.l
{
font-size: 30px;
width: 50%;
margin: 30px;
padding-top: 50px;
color:rgb(38, 0, 255);
}
.m
{
font-size: 30px;
width: 50%;
margin: 30px;
padding-top: 50px;
color:rgb(38, 0, 255);
}.o
{
font-size: 30px;
width: 50%;
margin: 30px;
padding-top: 50px;
color:rgb(38, 0, 255);
}

#status
{
font-size: 18px;
}
body{

    background-size: cover;
    background-position: center;
}